// Quicksand: 400regular 500medium 700bold
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"),
    url("../fonts/Quicksand-Regular.woff") format("woff");
}