// Quicksand: 400regular 500medium 700bold
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"),
    url("../fonts/Quicksand-Regular.woff") format("woff");
}

@font-face {
  font-family: Quicksand;
  font-weight: 500;
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2"),
    url("../fonts/Quicksand-Medium.woff") format("woff");
}

@font-face {
  font-family: Quicksand;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"),
    url("../fonts/Quicksand-Bold.woff") format("woff");
}