html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: Quicksand, sans-serif;
  font-weight: normal;
  color: $text;
  font-size: 1rem;
  line-height: 150%;
  overflow-x: hidden;
  transition: all 5s;

  &.fixedPosition {
    position: fixed;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.inner {
  padding: 7.5rem 0;
}

.button {
  font-size: 0.875rem;
  background-color: $theme-color-blue;
  color: #fff;
  border-radius: 2rem;
  border: none;
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);
    transition: .3s;
  }

  &:focus {
    border: .5px solid #fff;
    outline: rgb(114, 33, 160);
  }
}

.button--category {
  background: #f1f3f6;
  color: #747b86;
  font-size: .9rem;
  padding: .4em 1em;
}

.lnr {
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.user-avatar {
  border-radius: 50%;
}

// .search-input {
//   border: 0.0625rem solid #d9dfe5;

//   &:focus {
//     outline: transparent;
//     border: 0.0625rem solid $theme-color-blue;
//   }

//   &::placeholder {
//     color: $form;
//   }
// }

.title {
  color: #000;
  font-size: 1.875rem;
  line-height: 100%;
  text-transform: capitalize;
  outline: transparent;

  &.title--link:hover {
    font-weight: 500;
    color: $theme-color-blue;
  }

  &.title--link:focus {
    @extend %outline;
    font-weight: 700;
  }
}

.title--accent {
  color: $theme-color-blue;
}

.title--top {
  display: block;
  background-color: #fff;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  position: relative;
  text-transform: capitalize;
  padding: 1.4em 1em;
  margin-bottom: 1.667em;

}

.category-tag {
  font-size: .9rem;
  color: $theme-color-purple;
  padding-left: 20px;
  cursor: pointer;
  outline: transparent;
  position: relative;

  &:focus,
  &:hover {
    filter: drop-shadow(2px 2px 2px rgb(165, 156, 187));
  }

  &:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: 0;
    top: .15em;
  }

  &--wordpress:before,
  &--plugin:before {
    content: url(../images/wordpress.svg);
  }

  &--html:before {
    content: url(../images/html5-brands.svg);
  }

  &--ps:before {
    content: url(../images/psd.svg);
  }
}

.mediabox {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;

  &__item {
    display: inline;

    &+& {
      margin-left: 1em;
    }

    &:hover {
      .mediabox__link:before {
        background-color: $theme-color-blue;
      }
    }
  }

  &__link {
    font-family: 'icomoon' !important;
    font-size: 0;

    &:focus {
      &:before {
        background-color: $theme-color-blue;
      }
    }

    &:before {
      font-size: 1rem;
      color: #fff;
      padding: .8em;
      border-radius: 50%;
    }

    &--facebook:before {
      content: "\ea90";
      background-color: #395799;
    }

    &--twitter:before {
      content: "\ea96";
      background-color: #19b2f5;
    }

    &--google:before {
      content: "\ea88";
      background-color: #f05b44;
    }

    &--pininterest:before {
      content: "\ead1";
      background-color: #9c0c1c;
    }

    &--linkedin:before {
      content: "\eaca";
      background-color: #0da6be;
    }

    &--dribble:before {
      content: "\eaa7";
      background-color: #ea4c89;
    }
  }
}