html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: Quicksand, sans-serif;
  font-weight: normal;
  color: $text;
  font-size: 1rem;
  line-height: 150%;
  overflow-x: hidden;
  transition: all 5s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.inner {
  padding: 7.5rem 0;
}

.button {
  font-size: 0.875rem;
  background-color: $theme-color-blue;
  color: #fff;
  border-radius: 2em;
  border: none;
  cursor: pointer;
}

.button--category {
  background: #f1f3f6;
  color: #747b86;
  font-size: .9rem;
  padding: .4em 1em;
}

.lnr {
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.user-avatar {
  border-radius: 50%;
}

.search-input {
  border: 0.0625rem solid #d9dfe5;

  &:focus {
    outline: transparent;
    border: 0.0625rem solid $theme-color-blue;
  }

  &::placeholder {
    color: $form;
  }
}

.title {
  color: #000;
  font-size: 1.875rem;
  line-height: 100%;
  text-transform: capitalize;
  outline: transparent;

  &.title--link:hover {
    font-weight: 500;
    color: $theme-color-blue;
  }

  &.title--link:focus {
    @extend %outline;
    font-weight: 700;
  }
}

.title--accent {
  color: $theme-color-blue;
}

.title--top {
  display: block;
  background-color: #fff;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  position: relative;
  text-transform: capitalize;
  padding: 1.4em 1em;
  margin-bottom: 1.667em;

}

.category-tag {
  font-size: .9rem;
  color: $theme-color-purple;
  padding-left: 1.5em;
  cursor: pointer;
  outline: transparent;
  position: relative;

  &:focus,
  &:hover {
    filter: drop-shadow(2px 2px 2px rgb(165, 156, 187));
  }

  &:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: 0;
    top: .15em;
  }

  &--wordpress:before,
  &--plugin:before {
    content: url(../images/wordpress.svg);
  }

  &--html:before {
    content: url(../images/html5-brands.svg);
  }

  &--ps:before {
    content: url(../images/psd.svg);
  }
}

.mediabox {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;

  &__item {
    display: inline;

    &+& {
      margin-left: 1em;
    }

    &:hover {
      .mediabox__link:before {
        background-color: $theme-color-blue;
      }
    }
  }

  &__link {
    font-family: 'icomoon' !important;
    font-size: 0;

    &:focus {
      &:before {
        background-color: $theme-color-blue;
      }
    }

    &:before {
      font-size: 1rem;
      color: #fff;
      padding: .8em;
      border-radius: 50%;
    }

    &--facebook:before {
      content: "\ea90";
      background-color: #395799;
    }

    &--twitter:before {
      content: "\ea96";
      background-color: #19b2f5;
    }

    &--google:before {
      content: "\ea88";
      background-color: #f05b44;
    }

    &--pininterest:before {
      content: "\ead1";
      background-color: #9c0c1c;
    }

    &--linkedin:before {
      content: "\eaca";
      background-color: #0da6be;
    }

    &--dribble:before {
      content: "\eaa7";
      background-color: #ea4c89;
    }
  }
}

.dropdown {
  height: 0;
  overflow: hidden;
  border: none;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  margin-top: 1.7rem;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  z-index: 100;
  transition: all .8s ease;

  &--pointer {
    z-index: 1;
    max-width: 370px;
    background-color: #fff;
    width: 100%;
    position: absolute;
    margin-top: 1.9rem;

    &:before {
      content: '';
      position: absolute;
      right: 2.5em;
      top: -1.3em;
      border: 10px solid;
      border-color: transparent transparent $theme-color-blue transparent;
    }

    &.notifications-dropdown {
      &:before {
        right: auto;
        left: 2.5em;
      }
    }
  }

  &__items {
    display: block;
    list-style: none;
    padding: 20px 20px 20px 20px;

    &--pointer {
      margin: 0;
      padding: 0;
      list-style: none;

      &:last-child {
        border: none;
      }
    }
  }

  &__img--pointer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1em;
    align-self: flex-start;
  }

  &__item {
    width: 100%;
    font-size: 0.9rem;
    background-color: #fff;
    padding: 15px 10px;
    transition: .8s;

    &--pointer {
      border-bottom: 1px solid #e8ebf0;
      padding: 1.1em 1.5em .8em 1.5em;
      font-weight: 500;
      color: $text-dark;

      &:hover {
        border-top: 1px solid $theme-color-blue;
      }

      &:focus {
        border-bottom: 2px solid $theme-color-blue;
      }
    }

    &--active,
    &:hover {
      transition: .3s;
      background-color: $theme-color-blue;

      .dropdown__link {
        color: #fff;
      }
    }
  }

  &__top--pointer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8ebf0;
    padding: 1.5em 1.5em 1em;
  }

  &__topline--pointer {
    display: flex;
    justify-content: space-between;
  }

  &__name--pointer {
    font-weight: 500;
    color: $text-dark;
    line-height: 100%;
  }

  &__time--pointer {
    font-size: 0.875rem;
    color: #747a86;
  }

  &__box--pointer {
    display: flex;
    align-items: center;
  }

  &__title--pointer {
    font-size: 1.125rem;
    color: #000;
  }

  &__link {
    text-align: start;
    color: #54667a;

    &--pointer {
      color: $theme-color-blue;
      font-size: 0.9rem;
    }

    &:focus {
      font-weight: 500;
    }
  }
}