.product-card {
  &--stars {
    .star-rating {
      visibility: visible;
    }
  }

  border-radius: 0.25rem;
  overflow: hidden;

  &__preview {
    position: relative;
    flex-basis: 360px;
    width: 100%;
    height: 100%;
    height: 230px;

    &:hover {
      background: rgb(115, 71, 193);
      background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);


      .product-card__img {
        opacity: .1;
        transition: .3s;
      }

      .preview-btn__link {
        display: block;
        transition: all .5s;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover; // ANCHOR type 'none' to smile :D
  }

  &__info {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
  }

  &__info-top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.7em 1.9em 1.2em 1.9em;
  }

  &__top-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
    margin-bottom: .7em;
  }

  &__top-avatar {
    width: 2em;
    height: 2em;
    margin-right: .25em;
  }

  &__top-author {
    display: flex;
    align-items: center;
    margin-bottom: .7em;
  }

  &__top-name {
    color: black;
    font-size: .9rem;
    line-height: 200%;
    margin-right: 1.7em;

    &:focus,
    &:hover {
      filter: drop-shadow(5px 5px 5px rgb(165, 156, 187));
    }
  }

  &__top-description {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    line-height: 180%;
  }

  &__info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 1.9em;
    border-top: 1px solid #ececec;
  }

  &__bottom-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-price {
    color: $theme-color-blue;
    font-weight: 500;
    font-size: .9rem;
    padding: .2em 1.3em;
    background-color: #e6f1fd;
    border-radius: 2rem;
  }

  &__bottom-like {
    background: transparent;
    border: none;
    outline: transparent;
    position: relative;
    margin-left: .4rem;
    padding-right: 1rem;
    cursor: pointer;
    font-size: 0;

    &:hover {
      &:before {
        color: red;
      }
    }

    &:before {
      position: absolute;
      content: "\e813";
      font-family: 'Linearicons-Free';
      font-size: .9rem;
      top: -.4em;
      color: $theme-color-purple;
    }

    &:after {
      color: #6f7d8d;
      font-size: .9rem;
      content: attr(data-count);
      left: 1.8em;
      top: -.4em;
      position: absolute;
    }
  }

  &__bottom-rating {
    visibility: hidden;
    display: flex;
    margin-left: 2.3em;
  }

  &__bottom-cart {
    background: transparent;
    border: none;
    outline: transparent;
    position: relative;
    margin-left: 3.5rem;
    cursor: pointer;
    font-size: 0;

    &:before {
      position: absolute;
      content: "\e82e";
      font-family: 'Linearicons-Free';
      font-size: .9rem;
      top: -.45em;
      left: -1.8em;
      color: $theme-color-blue;
    }

    &:after {
      font-size: .9rem;
      content: attr(data-count);
      left: -.2em;
      top: -.45em;
      position: absolute;
      color: $theme-color-blue;
    }

    &:hover {
      &:before {
        color: $theme-color-purple;
      }
    }
  }
}


//product hover//

.preview-btn {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);

  &__link {
    display: none;
    border-radius: 3rem;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: .9rem;
    line-height: 100%;
    border: 0.0625rem solid #fff;
    padding: 1em 2em;
    outline: transparent;

    &+.button {
      margin-left: .5em;
    }

    &:hover {
      background-color: #fff;
      color: $theme-color-blue;
      transform: scale(.95);
    }

    &:focus {
      box-shadow: 0 0 0 0.3rem rgba(115, 71, 193, 0.7);
    }
  }
}