.product-card {

  &__preview {
    position: relative;
    max-width: 360px;
    width: 100%;
    height: 230px;

    &:hover {
      background: rgb(115, 71, 193);
      background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);


      .product-card__img {
        opacity: .1;
        transition: .3s;
      }

      .preview-btn__link {
        display: block;
        transition: all .5s;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover; // ANCHOR type 'none' to smile :D
  }

  &__info {
    border-radius: 0.25rem;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }

  &__info-top {
    display: flex;
    flex-direction: column;
    padding: 1.7em 1.9em 1.2em 1.9em;
  }

  &__top-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
    margin-bottom: .7em;
  }

  &__top-avatar {
    width: 2em;
    height: 2em;
    margin-right: .25em;
  }

  &__top-author {
    display: flex;
    align-items: center;
    margin-bottom: .7em;
  }

  &__top-name {
    color: black;
    font-size: .9rem;
    line-height: 200%;
    margin-right: 1.7em;
  }

  &__top-category {
    color: $theme-color-purple;
    padding-left: 1.3em;
    cursor: pointer;
    outline: transparent;
  }

  &__top-description {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    line-height: 180%;
  }

  &__info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 1.9em;
    border-top: 1px solid #ececec;
  }

  &__bottom-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-price {
    color: $theme-color-blue;
    font-weight: 500;
    font-size: .9rem;
    padding: .2em 1.3em;
    background-color: #e6f1fd;
    border-radius: 2rem;
  }

  &__bottom-like {
    margin-left: 1em;
    margin-right: 2.5em;
    display: inline-block;
    height: 1.5em;
    position: relative;
    font-size: .9rem;
    text-decoration: none;

    &:after {
      padding: 0 .5em;
      color: #6f7d8d;
      content: attr(data-count);
      left: 100%;
      position: absolute;
      top: -0.1em;

    }
  }

  &__bottom-heart {
    width: 1em;
    height: 1em;
  }

  &__bottom-rating {
    visibility: hidden;
    display: flex;
  }

  &__bottom-cart {
    padding-left: 1.6em;
    color: $theme-color-blue;
    font-size: .9rem;
    background: url(../images/lnr-cart.svg) no-repeat;
    background-size: 1.1em 1.1em;
    background-position: left;
  }
}


//product hover//

.preview-btn {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);

  &__link {
    display: none;
    border-radius: 3rem;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: .9rem;
    line-height: 100%;
    border: 0.0625rem solid #fff;
    padding: 1em 2em;

    &+.button {
      margin-left: .5em;
    }

    &:hover {
      background-color: #fff;
      color: $theme-color-blue;
      transform: scale(.95);
    }
  }
}