$text:#555;
$text-dark:#333;
$theme-color-blue:#0674ec; //rgba(6, 116, 236, 1)
$theme-color-purple: #7347c1; //rgba(115, 71, 193, 1)
$form: #898f96;
$form-light: #e7ebee;
$bg-grey: #eef1f3;
$theme-color-red: #ff6a6c;
$theme-color-green: #62d03a;

%outline {
  border-bottom: 3px double rgba(115, 71, 193, 0.5);
}

//@extend %outline;