@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  &__inner {
    padding-top: 1.438em;
  }

  &__top {
    display: flex;
    justify-content: space-between;

  }

  &__user-panel {
    display: inline-flex;
    justify-content: first baseline;
    align-items: center;
  }

  &__icons {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__icon-item {
    display: inline;
    margin-right: 2.15em; //30px

    &+.header__icon-item {
      margin-left: 1.3em;
    }

  }

  &__register-link {
    margin-right: 3.6em; //50px
    padding: 0.7em 1.3em;


  }

  &__user-img {
    width: 3.6em;
    height: 3.6em;
    background-color: #7c7979;
    margin-right: 1.6em;
  }

  &__user-info {
    display: flex;
  }

  &__user-balance {
    display: block;
    color: $theme-color-blue;
  }

  /*header__top ends*/

  /*header__bottom starts*/

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.4em 0 1.4em;
  }

  &__bottom-items {
    margin: 0;
    padding: 0;
  }

  &__bottom-item {
    display: inline;

    &+.header__bottom-item {
      margin-left: 2.1em;
    }

  }

  &__bottom-link {
    text-transform: uppercase;
    color: $text-dark;
    font-weight: 500;
    font-size: 1rem;
  }

}

.search-form {
  position: relative;

  &__input {
    border-radius: 2em;
    font-size: 0.9rem;
    padding: 1.15em 6em 1em 1.7em;
    width: 24em;

    &::placeholder {
      font-size: 0.9rem;
      padding-right: 5em;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    max-width: 4.7em;
    width: 100%;
    padding: 1em 0;
    box-shadow: none;

  }

  &__btn-svg {
    fill: #fff;
  }
}

/*end header*/

/*start top*/

.top {
  color: #fff;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 51.8em;
    height: 100%;
  }

  &__title {
    font-size: 3.75rem;
    line-height: 120%;
    text-align: center;
    margin-bottom: 0.5em;
  }

  &__title-accent {
    display: block;
    font-weight: 700;
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 3.5em;
  }

  .button {
    font-size: 1rem;
    line-height: 100%;
    background: transparent;
    border: 0.0625rem solid #fff;
    max-width: 11.875em;
    padding: 1.25em 2.5em;

    &+.button {
      margin-left: 1.875em;
    }

    &:hover {
      background: #fff;
      color: $theme-color-blue;
    }
  }


}

/*end top*/

/*start about*/

.about {

  &__inner {
    position: relative;
    padding: 12.86em 0 8.3em;
  }

  &__search {
    position: absolute;
    top: -5em;
    width: 100%;
    box-shadow: rgba(148, 94, 94, 0.08) 0 0.25rem 1.25rem 0;
    border-radius: 0.375rem;
    background: #fff;

    &:before {
      content: "";
      position: absolute;
      top: 0.75rem; //12
      bottom: 0.625rem; //10
      left: 0.9375rem; //15
      right: 0.9375rem; //15
      border-radius: 0.375rem;
      box-shadow: rgba(255, 255, 255, 0.5) 0 -1.5625rem 0 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0.625rem; //10
      left: 1.875rem; //30
      right: 1.875rem; //30
      border-radius: 0.375rem;
      box-shadow: rgba(255, 255, 255, 0.5) 0 -1.5625rem 0 0, ;
    }

  }

  &__search-form {
    min-height: 9.6em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 2.5em 2.857em;

  }

  &__search-input {
    font-size: 1rem;
    max-width: 50.6em;
    width: 100%;
    border-radius: 0.25rem;
    padding: 1.25em 0 1.25em 1.7em;

    &::placeholder {
      padding-right: 15.3em;
    }
  }

  &__search-select-wrapper {
    position: relative;

    &:after {
      position: absolute;
      font-family: 'Linearicons-Free', serif;
      content: "\e874";
      font-size: 0.75rem;
      color: $text;
      right: 2.286em;
      top: -1.2em;
      pointer-events: none;
    }
  }

  &__search-select {
    min-height: 3.63em;
    position: absolute;
    border: none;
    color: $text;
    border-left: 0.0625rem solid #d9dfe5;
    font-size: 1rem;
    padding: 0 4.250em 0 1.250em;
    top: -1.82em;
    right: 0.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    &:focus {
      outline: transparent;
    }

  }

  &__search-btn {
    box-shadow: none;
    font-size: 1rem;
    max-width: 13.9em;
    width: 100%;
    border-radius: 0.25rem;
    margin-left: 2.5em;
    padding: 1.25em 0;
  }

  &__box {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  &__box-item {
    padding: 2.5em 1.750em 3.125em;
    flex-basis: 25.714em;

    //flex: grow shrink basis

    &:hover {
      border-radius: 0.25rem;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &__box-title {
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 1.7em;
    margin-top: 6.458em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 5.2em;
      height: 5.6em;
      top: -6.458em;
      left: 33%;

    }
  }

  &__box-title--ux:before {
    background: url(../images/about_box-1.png);
    background-repeat: no-repeat;
    background-position: center;


  }

  &__box-title--responsive:before {
    background: url(../images/about_box-2.png);
    background-repeat: no-repeat;
    background-position: center;

  }

  &__box-title--buy:before {
    background: url(../images/about_box-3.png);
    background-repeat: no-repeat;
    background-position: center;

  }

}


/*end about*/

/*start slider-feature*/
.slider-featured {

  &__top {

    background-color: #fff;
    width: 100%;
    padding: 2.5em 1.750em;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 1.667em;
  }

  &__title {
    font-size: 1.875rem;
  }

  &__wrapper {
    padding: 110px 0;
    min-height: 450px;

  }

  &__product {
    display: flex !important;
  }

  &__preview {
    position: relative;
    width: 100%;

    &:hover {
      background: rgb(115, 71, 193);
      background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);

      .slider-featured__product-img {
        opacity: .1;
      }

      .slider-featured__item-link {
        display: block;
      }
    }
  }

  &__buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);

  }

  &__item-link {
    display: none;
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    font-weight: 500;

    &:hover {
      background-color: #fff;
      color: $theme-color-blue;
    }
  }

  &__product-img {
    max-width: 100%;
    width: 100%;
    height: 450px;
    border-radius: 0.25rem;
    z-index: -1;
  }

  &__item-link {
    box-shadow: none;
    font-size: 1rem;
    line-height: 100%;
    background: transparent;
    border: 0.0625rem solid #fff;
    max-width: 11.875em;
    padding: 1.25em 2.5em;

    &+.button {
      margin-left: 1.875em;
    }
  }

  .slick-btn {

    position: absolute;
    content: '';
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: transparent;
  }


}

.product-card {

  max-width: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  border-radius: 0.25rem;
  padding: 3.125em 3.125em 1.6em;


  &__author-avatar {
    max-width: 1.875em;
    height: 1.875em;
    display: inline !important;
    margin-right: 0.6em;
  }

  &__title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1.333em;
  }

  &__tags {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 2.267em;

  }

  &__author {
    color: #000;
    margin-right: 1.86em;
  }

  &__category {
    color: $theme-color-purple;
    padding-left: 1.6em;
  }

  &__description {
    line-height: 190%;
    margin-bottom: 2.5em;
  }

  &__filter {
    background-color: #f1f3f6;
    color: $form;
    outline: transparent;
    font-size: 0.9rem;
    box-shadow: none;
    padding: 0.53em 1.1em;
    margin-bottom: 2.9em;

    &+.product-card__filter {
      margin-left: 0.5em;
    }
  }



}

.category-tag--wordpress:before {
  background: url(../images/wordpress.svg);
  background-size: 16px 16px;

}


/*end slider-featured*/


@import "media";