@import "libs";
@import "fonts";
@import "vars";
@import "global";
@import "product-card";

.header {

  &__top {
    max-height: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-panel {
    min-width: 48%;
    display: flex;
    flex-direction: flex-end;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 0 1.5em;
    position: relative;
  }

  &__logo {
    margin-left: .5em;
  }

  &__notification-btns {
    max-width: 9em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-right: 2.5em;
  }

  &__mail-box {
    padding: 1.5rem 0;

    &:hover {
      .messages-dropdown {
        height: auto;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__notifications-box {
    padding: 1.5rem 0;

    &:hover {
      .notifications-dropdown {
        height: auto;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__cart-box {
    padding: 1.5rem 0;

    &:hover {
      .cart-dropdown {
        height: auto;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__icon-btn {
    position: relative;
    font-size: 0;


    &:before {
      position: absolute;
      font-size: 1.25rem;
      color: #7e8fa1;
      font-family: 'Linearicons-Free';
    }

    &--alarm:before {
      content: "\e858";
    }

    &--envelope:before {
      content: "\e818";
    }

    &--cart:before {
      content: "\e82e";
    }

    &:hover {
      font-weight: 700;
      transition: .2s;
    }

    &:focus {
      &:before {
        color: $theme-color-blue;
      }
    }
  }

  &__icon-badge {
    &.header__icon-badge--active {
      display: block;
    }

    display: none;
    position: absolute;
    text-align: center;
    min-width: 1.6em;
    padding: 0 0.15em;
    height: 1.6em;
    border-radius: 0.8em;
    top: -2em;
    left: 0.8em;
    font-size: 0.9rem;
    line-height: 1.6em;
    color: #fff;


    &--alarm {
      background-color: #ff6a6c;
    }

    &--envelope {
      background-color: #62d03b;
    }

    &--cart {
      background-color: $theme-color-blue;
    }
  }

  &__register-link {
    padding: 0.5em 1.3em;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    margin-right: 2em;
    margin-left: 1em;

    &:hover,
    &:focus {
      transition: all 2s;
      transform: scale(1.2);
      background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);
    }

    &:focus {
      transform: scale(1);
    }
  }

  &__user-box {
    padding: 1.5em 0;

    &:hover {
      .header__dropdown-user {
        opacity: 1;
        height: auto;
        overflow: visible;
      }
    }
  }

  &__user-avatar {
    display: block;
    width: 3.6em;
    height: 3.6em;
    background-color: #7c7979;
    border-radius: 50%;
    margin-right: 1em;
  }

  &__user-info {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .header__user-avatar {
        border: 1px solid $theme-color-blue;
        outline: transparent;
        transition: .2s;
      }
    }
  }

  &__user-nickname {
    font-weight: 500;
  }

  &__user-balance {
    display: block;
    color: $theme-color-blue;
  }

  /*ANCHOR DROPDOWN ICONS STARTS*/

  /*dropdown user starts*/

  .dropdown-user {
    z-index: 1;
    min-width: 270px;
    right: 0;
    margin-top: 1rem;

    &__items {
      margin: 0;
    }

    &__link {
      &:before {
        margin-right: 1.5em;
      }
    }
  }

  /*dropdown user ends*/

  /*dropdown messages starts*/
  .messages-dropdown {
    right: 42%;

    &__item {

      &--notread {
        .messages-dropdown__name {
          padding-right: 2em;
          position: relative;

          &:after {
            position: absolute;
            content: "\e818";
            color: $theme-color-blue;
            right: 0;
            font-size: .9rem;
            font-family: 'Linearicons-Free';
          }
        }

        .messages-dropdown__time {
          color: $theme-color-blue;
        }
      }

      &--replied {
        .messages-dropdown__name {
          padding-right: 2em;
          background-image: url(../images/replied.svg);
          background-repeat: no-repeat;
          background-position: right;
        }
      }
    }

    &__text {
      margin: 0;
      padding: 0;
      font-size: 0.95rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
      color: $text;
    }
  }

  /*dropdown messages ends*/

  /*dropdown notification starts*/
  .notifications-dropdown {
    right: 3%;

    &__name {
      &:after {
        content: "";
        font-weight: normal;
        color: #747a86;
        font-size: 0.9rem;
      }
    }

    &__box {
      position: relative;

      &:after {
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        position: absolute;
        content: "";
        width: 33px;
        height: 33px;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Linearicons-Free';
        padding: 5px 5px 5px 8.5px;
      }
    }

    &--favourite {
      .notifications-dropdown__name {
        &:after {
          content: "added to Favourite";
        }
      }

      .notifications-dropdown__box {
        &:after {
          content: "\e813";
          color: $theme-color-blue;
          background-color: rgba(6, 116, 236, .10);
        }
      }
    }

    &--commented {
      .notifications-dropdown__name {
        &:after {
          content: "commented on";
        }
      }

      .notifications-dropdown__name,
      .notifications-dropdown__work {
        display: inline;
      }

      .notifications-dropdown__box {
        &:after {
          content: "\e83f";
          color: $theme-color-purple;
          background-color: rgba(115, 71, 193, .10);
        }
      }
    }

    &--purchased {
      .notifications-dropdown__name {
        &:after {
          content: "Purchased";
        }
      }

      .notifications-dropdown__box {
        &:after {
          content: "\e82e";
          color: $theme-color-red;
          background-color: rgba(255, 106, 108, .10);
        }
      }
    }

    &--review {
      .notifications-dropdown__name {
        &:after {
          content: "wrote a review on";
        }
      }

      .notifications-dropdown__box {
        &:after {
          content: "\e814";
          color: $theme-color-green;
          background-color: rgba(98, 208, 58, .10);
        }
      }
    }

    &__name {
      font-size: 1rem;
      display: block;
    }

    &__work {
      color: $theme-color-blue;
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      padding: 0;
      max-width: 210px;
    }

    &__preview {
      max-width: 210px;
    }

    &__time {
      display: block;
    }
  }

  /*dropdown notification ends*/

  /*dropdown cart starts*/

  .cart-dropdown {
    right: 31%;
    max-width: 400px;
    width: 100%;

    &__item {
      display: flex;
      padding: 0;
      padding: .2em 1.2em 1.5em 1.4em;
    }

    &__name,
    &__category {
      display: block;
    }

    &__img {
      width: 80px;
      height: 70px;
      border-radius: 0;
      object-fit: cover;
      margin-top: 1em;
    }

    &__name {
      font-size: 1rem;
      font-weight: 600;
      color: #000;
      margin-bottom: .5em;
    }

    &__category {
      font-size: .9rem;
      padding-left: 1.3em;
    }

    &__trash {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1.4em;
    }

    &__trash-btn {
      border: none;
      outline: transparent;
      color: $theme-color-green;
      width: 33px;
      height: 33px;
      font-size: 0;
      border-radius: 50%;
      background-color: rgba(115, 71, 193, .1);
      position: relative;
      cursor: pointer;
      margin-bottom: .7rem;

      &:before {
        position: absolute;
        right: 5px;
        bottom: 50%;
        transform: translateY(50%);
        content: "\e811";
        font-size: .9rem;
        font-weight: 600;
        font-family: 'Linearicons-Free';
        padding: 4px 4px 5px 10px;
        color: #818c98;
      }
    }

    &__total {
      text-align: end;
      color: #000;
      font-weight: 600;
      font-size: 1.125rem;
      border-bottom: 1px solid #e8ebf0;
      padding-bottom: 1.5em;
      padding-top: 1em;
      padding-right: 1.2em;
      margin: 0;
    }

    &__total-price {
      padding-left: 2em;
    }

    &__bottom {
      display: inline-flex;
      align-items: flex-start;
      max-width: 400px;
      width: 100%;
    }

    &__button {
      padding: 15px 0;
      width: 50%;
      color: #fff;
      text-align: center;
      margin: 0;
      font-size: 0.9rem;

      &--purple {
        background-color: $theme-color-purple;
      }

      &--blue {
        background-color: $theme-color-blue;
      }

      &:hover {
        font-weight: 500;
      }

      &:focus {
        font-weight: 700;
      }
    }
  }

  /*dropdown cart starts*/
  // ANCHOR dropdown icons ends
  /*header__top ends*/


  /*header__bottom starts*/

  &__bottom {
    min-height: 80px;
    position: relative;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-menu {
    margin-top: 1.2em;
  }

  &__bottom-items {
    margin: 0;
    padding: 0;
  }

  &__bottom-item {
    display: inline;
    padding: 30px 0;

    &+& {
      margin-left: 1.45em;
    }

    &:hover {

      .dropdown-home,
      .dropdown-wordpress,
      .dropdown-pages,
      .dropdown-products {
        opacity: 1;
        height: auto;
      }
    }
  }

  &__bottom-link {
    text-transform: uppercase;
    color: $text-dark;
    font-weight: 500;
    font-size: 1rem;

    &:hover,
    &:focus {
      color: $theme-color-blue;
    }

    &--active {
      color: $theme-color-blue;
      pointer-events: none;
    }
  }

  &__bottom-dropdown-home {
    min-width: 315px;
  }

  &__bottom-dropdown-wordpress {
    min-width: 270px;
    left: 19%;
  }

  &__bottom-dropdown-products {
    min-width: 270px;
    left: 6.5%;
  }
}

.dropdown-pages {
  z-index: 1;
  left: 0;
  max-width: 1140px;
  margin-top: 1.7rem;

  &__wrapper {
    display: inline-flex;
    padding: 1.3em 0;
  }

  &__items {
    list-style: none;

    &--multiple-columns {
      -moz-column-count: 2;
      -webkit-column-width: 200px;
      -moz-column-width: 200px;
      column-width: 200px;
      -moz-column-gap: 2em;
      -webkit-column-count: 2;
      -webkit-column-gap: 2em;
      column-count: 2;
      column-gap: 2em;
    }
  }

  &__title {
    display: block;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 1px solid #e8ebf0;
    padding: .7em 0 1em;
    margin: 0 2em 2em;
  }

  &__link {
    color: #54667a;
    font-size: .9rem;

    &+& {
      margin-top: 1em;
    }

    &:hover {
      font-weight: 500;
      color: $theme-color-blue;
    }

    &:focus {
      font-weight: 700;
    }
  }
}

.search-form {
  margin-top: 1em;
  position: relative;
  overflow: hidden;

  &__input {
    border-radius: 2em;
    font-size: 0.9rem;
    padding: 1em 6em 1em 1.7em;
    width: 24.7em;

    &::placeholder {
      font-size: 0.9rem;
      padding-right: 5em;
    }
  }

  &__btn {
    position: absolute;
    outline: transparent;
    right: 0;
    max-width: 4.8rem;
    width: 100%;
    padding: 1rem 0;
    font-size: 0;
    border-radius: 2rem;

    &:before {
      content: "\e86f";
      color: #fff;
      font-size: 1rem;
      font-family: 'Linearicons-Free';
      line-height: 100%;
    }

    &:hover {
      background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);
      transition: .3s;
    }

    &:focus {
      border: .5px solid #fff;
    }
  }
}

/*ANCHOR end header*/

/*ANCHOR start top*/

.top {
  color: #fff;
  padding-bottom: 5em;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 41em;
    height: 100%;
    text-align: center;
  }

  &__title {
    font-size: 3.75rem;
    line-height: 110%;

  }

  &__title-accent {
    display: block;
    font-weight: 700;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 250%;
    font-weight: 500;
    margin-bottom: 3.5em;
  }

  &__button {
    font-size: 1rem;
    line-height: 100%;
    background: transparent;
    border: 0.0625rem solid #fff;
    max-width: 11.875em;
    padding: 1em 1.8em;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    &+& {
      margin-left: 1.875em;
    }

    &:hover {
      background: #fff;
      color: $theme-color-blue;
      transition: all .5s;
      transform: scale(0.9);
    }

    &:focus {
      transition: .4s;
      transform: scale(0.95);
    }
  }
}

/*ANCHOR end top*/

/*ANCHOR start about*/

.about {
  &__inner {
    position: relative;
    padding: 6.7em 0 6.1em;
  }

  &__search {
    position: absolute;
    top: -9em;
    width: 100%;
    box-shadow: rgba(148, 94, 94, 0.08) 0 0.25rem 1.25rem 0;
    border-radius: 0.375rem;
    background: #fff;

    &:before {
      content: "";
      position: absolute;
      top: 0.75rem;
      bottom: 0.625rem;
      left: 0.9375rem;
      right: 0.9375rem;
      border-radius: 0.375rem;
      box-shadow: rgba(255, 255, 255, 0.5) 0 -1.5625rem 0 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0.625rem;
      left: 1.875rem;
      right: 1.875rem;
      border-radius: 0.375rem;
      box-shadow: rgba(255, 255, 255, 0.5) 0 -1.5625rem 0 0, ;
    }
  }

  &__search-form {
    min-height: 8em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 2.3em 0;
  }

  &__search-label {
    min-width: 50.5em;
  }

  &__search-input {
    font-size: 1rem;
    max-width: 50.5em;
    width: 100%;
    border-radius: 0.25rem;
    padding: 1.2em 13em 1.25em 1.6em;

    &::placeholder {
      padding-right: 20em;
    }
  }

  &__search-select-wrapper {
    position: relative;

    &:after {
      position: absolute;
      font-family: 'Linearicons-Free', serif;
      content: "\e874";
      font-size: 0.75rem;
      color: $text;
      right: 2.1em;
      top: -1em;
      pointer-events: none;
    }
  }

  &__search-select {
    min-height: 3.63em;
    position: absolute;
    border: none;
    background: transparent;
    color: $text;
    border-left: 0.0625rem solid #d9dfe5;
    font-size: 1rem;
    padding: 0 4.5em 0 1.250em;
    top: -1.82em;
    right: 0.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    &:focus {
      outline: transparent;
    }
  }

  &__search-btn {
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: .9rem;
    max-width: 15.5em;
    width: 100%;
    border-radius: 0.25rem;
    margin-left: 2em;
    padding: 1.4em 1em 1.4em .2em;

    &:hover {
      background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);
    }

    &:focus {
      box-shadow: 0 0 0 0.3rem rgba(115, 71, 193, 0.7);
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__box-item {
    flex-basis: 22.7em;
    padding: 12em 1em 2em;

    &:hover {
      transition: .3s;
      border-radius: 0.25rem;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &__box-title {
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 6em;
  }

  &__box-text {
    line-height: 190%;
  }
}

/*ANCHOR end about*/

/*ANCHOR start slider-feature*/

.slider-featured {

  &__title {
    font-size: 1.875rem;
  }

  &__inner {
    padding: 7.5em 0;
  }

  &__item {
    display: flex !important;
    align-self: stretch;
  }

  &__item-preview {
    flex-basis: 48.5%;
    flex: 1 1 0;
    // width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__item-link {
    padding-left: 2.3em;
    padding-right: 2.3em;
  }

  &__item-link+.slider-featured__item-link {
    margin-left: .7em;
  }

  &__item-info {
    width: 51.5%;
    flex: 1 1 0;
    background-color: #fff;
    padding: 1.2em;
    // height: 100%;
    overflow: hidden;
    align-self: stretch;
  }

  &__item-info-top {
    margin-bottom: 1.5em;
  }

  &__item-title {
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__item-avatar {
    margin-right: .5em;
  }

  &__item-author {
    margin-bottom: .7em;
  }

  &__item-description {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 5;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    line-height: 180%;
  }

  &__category-filter {
    display: flex;
    flex-wrap: wrap;
  }

  &__category-link+.slider-featured__category-link {
    margin-left: .6em;
  }

  &__category-link {
    margin-bottom: .5em;
    outline: transparent;
    transition: .2s;

    &:hover {
      background-color: $theme-color-blue;
      color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(115, 71, 193, 0.7);
    }
  }

  &__item-bottom {
    padding-bottom: 0;
    padding-top: 1.6em;
    padding-left: 2.2em;
  }

  &__item-price {
    background-color: $theme-color-blue;
    color: #fff;
    padding: .2em 1.4em;
    margin-right: .5em;
  }

  &__item-like {
    margin-right: 4.5em;
  }

  &__item-star {
    margin-right: .3em;
  }
}

.slick-btn {
  position: absolute;
  border: none;
  outline: transparent;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);

  &:before {
    position: absolute;
    color: #fff;
    font-family: 'Linearicons-Free';
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
  }
}

.slick-prev {
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  background-color: $theme-color-purple;
  right: 2.5em;

  &:before {
    content: "\e875";
    font-size: 1rem;
  }
}

.slick-next {
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  background-color: $theme-color-purple;
  right: 1em;

  &:before {
    content: "\e876";
    font-size: 1rem;
  }
}

//ANCHOR ends slider-featured

//ANCHOR start newest-product
.newest-products {

  .container-fluid--onecolor {
    background-color: #f6f7fb;
  }

  &__inner {
    padding-top: 7.5em;
    padding-bottom: 7.5em;
  }

  &__navigation {
    margin-bottom: 3.2em;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2.5em 2em 1.5em;
    margin-bottom: 1em;
  }

  &__filter {
    margin-bottom: 1em;
  }

  &__filterby {
    display: none;
    position: absolute;
    right: .3%;
    top: 75%;
    width: 12.5em;
  }

  &__filterby-btn {
    outline: transparent;
    border: none;
    background: transparent;
    padding-bottom: 1em;
    font-size: 1rem;
    line-height: 200%;
    padding-right: 2em;
    position: relative;

    &:before {
      content: '';
      width: 1em;
      height: 1em;
      top: 20%;
      right: 10%;
      position: absolute;
      background: url(../images/ellipsis-v-solid.svg) no-repeat;
      background-position: right;
      background-size: .25em;
    }
  }

  &__filter-btn:hover .newest-products__filterby {
    display: block;
  }

  &__filterby-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    position: relative;
    z-index: 1;
    padding: 1.65em 1.1em;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: 100%;
      right: 1.5em;
      border: .6rem solid transparent;
      border-top: none;
      border-bottom-color: #fff;
      filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    }
  }

  &__filter-btn {
    background: transparent;
    border: none;
    color: #747b86;
    outline: transparent;
    cursor: pointer;
    transition: all .2s;
  }

  &__filter-btn+.newest-products__filter-btn {
    margin-top: .8em;
  }

  &__filter-btn {
    font-size: .9rem;

    &:hover {
      color: $theme-color-blue;
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(115, 71, 193, 0.7);
    }
  }

  &__categories {
    flex-wrap: wrap;
    padding: 2em 1.8em;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    background-color: #fff;
  }

  &__category {
    flex: 1 0 6em;
    padding: .5em 1.6em;
    margin-top: .5em;
    outline: transparent;
    margin-left: .4em;

    &:hover {
      background-color: $theme-color-blue;
      color: #fff;
      transition: all .5s;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(115, 71, 193, 0.7);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1.85em;
    margin-bottom: 3.8em;
  }
}

.newest-product {
  &__allbtn {
    display: flex;
    justify-content: center;
  }

  &__all {
    font-size: 1rem;
    padding: 1rem 2em;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      transition: all 2s;
      transform: scale(1.2);
      background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);
    }

    &:focus {
      box-shadow: 0 0 0 0.3rem rgba(115, 71, 193, 0.7);
    }
  }
}

//ANCHOR newest-slider ends

//ANCHOR follow-slider starts
.follow-slider {
  &__inner {
    padding: 7.5em 0;
  }

  &__items {
    flex-basis: 1140px;

    .slick-slide {
      margin: 0 .95em;
    }

    .slick-list {
      margin: 0 -.95em;
    }
  }

  &__top {
    margin-bottom: 3.3em;
  }
}

//ANCHOR follow-slider ends

/*ANCHOR starts fact-area*/
.fact-area {
  text-align: center;

  .container-fluid--onecolor {
    background-color: #212225;
    padding: 5.5em 0 6em;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    padding-top: 5.2em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translatex(-50%);
      width: 50px;
      height: 60px;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 50px 60px;
    }

    &--terms {
      color: #feb71d;

      &:before {
        background-image: url(../images/lnr-briefcase.svg);
      }
    }

    &--sales {
      color: #499cb5;

      &:before {
        background-image: url(../images/lnr-cloud-download.svg);
      }
    }

    &--customers {
      color: #71d14e;

      &:before {
        background-image: url(../images/lnr-smile.svg);
      }
    }

    &--members {
      color: #ff6a6d;

      &:before {
        background-image: url(../images/lnr-users.svg);
      }
    }
  }

  &__item-number {
    font-size: 2.25rem;
    line-height: 165%;
  }

  &__item-text {
    font-size: 1.125rem;
    color: #fff;
    display: block;
  }
}

/*ANCHOR ends fact-area*/

/*ANCHOR starts advantages*/
.advantages {
  padding: 7.3em 0 3.8em;
  text-align: center;

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 2.25rem;
    color: #000;
    margin-bottom: .2em;
  }

  &__text {
    max-width: 42em;
    line-height: 185%;
    margin-bottom: 2.1em;
  }

  &__list {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1.85em;
    margin-bottom: 3.8em;
  }

  &__item {
    padding: 9.8em .8em 3.3em .8em;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0.245rem;
    position: relative;
    list-style: none;

    &:before {
      content: counter(li, decimal-leading-zero);
      counter-increment: li;
      position: absolute;
      font-weight: 300;
      color: $theme-color-blue;
      opacity: 20%;
      font-size: 2.8rem;
      top: 7%;
      left: 5%;
      width: 48px;
    }
  }

  &__item-title {
    font-size: 1.5rem;
    padding-top: 4.2em;
    position: relative;
    margin-bottom: 1em;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-position: top center;
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
    }

    &--payment:before {
      background-image: url(../images/lnr-license.svg);
    }

    &--quality:before {
      background-image: url(../images/lnr-magic-wand.svg);
    }

    &--security:before {
      background-image: url(../images/lnr-lock.svg);
    }

    &--code:before {
      background-image: url(../images/lnr-chart-bars.svg);
    }

    &--update:before {
      background-image: url(../images/lnr-leaf.svg);
    }

    &--support:before {
      background-image: url(../images/lnr-phone.svg);
    }
  }

  &__item-text {
    line-height: 185%;
  }
}

/*ANCHOR ends advantages*/

/*ANCHOR starts activity*/
.activity {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__left,
  &__right {
    padding: 6.4em 0 4em;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  &__left {
    background-image: url(../images/waves-blue.svg);
    background-color: $theme-color-blue;
  }

  &__right {
    background-image: url(../images/waves-purple.svg);
    background-color: $theme-color-purple;
  }

  &__title {
    color: #fff;
    position: relative;
    font-size: 2.25rem;
    padding-top: 4em;
    margin-bottom: .8em;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-position: top center;
      background-repeat: no-repeat;
      color: #FFF;
      width: 120px;
      height: 120px;
    }

    &--selling:before {
      background-image: url(../images/icon-left.svg);
    }

    &--shopping:before {
      background-image: url(../images/icon-right.svg);
    }
  }

  &__text {
    color: #FFF;
    padding: 0 11em;
    margin-bottom: 3em;
  }

  &__btn {
    background-color: #fff;
    max-width: 195px;
    width: 100%;
    padding: 1em 0;
    transition: all .8s;
    font-size: 1rem;
    text-align: center;

    &:hover {
      transform: scale(1.2);
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(115, 71, 193, 0.7);
    }

    &--purple {
      color: $theme-color-purple;
    }

    &--blue {
      color: $theme-color-blue;
    }
  }
}

/* ANCHOR ends activity*/

/* ANCHOR feedback starts*/

.feedback {
  text-align: center;
  padding: 7.4em 0 8.3em;

  &__title {
    font-size: 2.25rem;
    margin-bottom: .6em;
  }

  &__text {
    margin-bottom: 3.6em;
    padding: 0 13em;
    line-height: 180%;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.7em;
  }

  &__card {
    padding: 3em 0;
    margin-bottom: 2em;

    &+& {
      margin-left: 1.5em;
    }

    flex: 1 0 555px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: .245rem;
    position: relative;
    border-left: 2px solid $theme-color-blue;

    &:before {
      content: '';
      position: absolute;
      background: url(../images/lnr-bubble.svg);
      width: 3.9em;
      height: 3.9em;
      background-repeat: no-repeat;
      background-size: 3.9em 3.9em;
      top: 15%;
      right: 8%;
    }
  }

  &__card-author {
    padding-left: 2em;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
    color: #000;
    cursor: pointer;
  }

  &__card-avatar {
    width: 4em;
    height: 4em;
    margin-right: .8em;
  }

  &__card-profession {
    display: block;
    color: $text;
    font-size: 1rem;
    text-align: left;
    line-height: 200%;
  }

  &__card-text {
    padding: 0 2.3em;
    line-height: 180%;
    text-align: start;
  }

  &__btn {
    padding: 1.3em 3em;

    &:hover {
      background: linear-gradient(90deg, rgba(115, 71, 193, 1) 0%, rgba(6, 116, 236, 1) 100%);
    }
  }

  .slick-slide {
    margin: 0 17px;
  }

  .slick-list {
    margin: 0 -17px;
  }

  .slick-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
    z-index: 1;
    top: 38%;

    &:before {
      position: absolute;
      color: $theme-color-blue;
      font-family: 'Linearicons-Free';
    }

    &:focus {
      box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, 0.7);
    }
  }

  .slick-prev-feedback {
    left: -2%;

    &:before {
      content: "\e875";
    }
  }

  .slick-next-feedback {
    right: -2%;

    &:before {
      content: "\e876";
    }
  }
}

/* ANCHOR feedback ends*/

/* ANCHOR news start*/

.news {
  &__inner {
    padding: 7.4em 0;
  }

  &__top {
    text-align: center;
  }

  &__title {
    font-size: 2.25rem;
    margin-bottom: .6em;
  }

  &__text {
    margin-bottom: 3.6em;
    padding: 0 13em;
    line-height: 180%;
    margin-bottom: 3.7em;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1.85em;
  }

  &__preview {
    &:hover {
      .product-card__img {
        opacity: .8;
      }
    }
  }

  &__date {
    position: relative;
    display: block;
    padding-left: 1.5em;
    color: #999;

    &:before {
      content: '';
      position: absolute;
      width: 1em;
      height: 1em;
      background: url(../images/lnr-clock.svg), no-repeat;
      top: 15%;
      left: 0;
      background-size: 1em 1em;
    }
  }

  &__description {
    margin-bottom: .4em;
  }

  &__comments {
    padding-left: 1em;
    position: relative;
    color: #999;
    margin-right: 1em;

    &:before {
      content: '';
      position: absolute;
      width: 1em;
      height: 1em;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23999999' d='M0.5 19c-0.225 0-0.422-0.15-0.482-0.367s0.032-0.447 0.225-0.562c1.691-1.014 2.392-2.489 2.641-3.179-1.838-1.407-2.884-3.354-2.884-5.392 0-1.029 0.258-2.026 0.768-2.964 0.486-0.894 1.18-1.695 2.061-2.381 1.787-1.39 4.156-2.156 6.671-2.156s4.884 0.766 6.671 2.156c0.881 0.685 1.575 1.486 2.061 2.381 0.51 0.937 0.768 1.934 0.768 2.964s-0.258 2.026-0.768 2.964c-0.486 0.894-1.18 1.695-2.061 2.381-1.787 1.39-4.156 2.156-6.671 2.156-1.033 0-2.047-0.129-3.016-0.385-0.429 0.286-1.231 0.793-2.189 1.27-1.488 0.74-2.764 1.115-3.794 1.115zM9.5 3c-4.687 0-8.5 2.916-8.5 6.5 0 1.815 1.005 3.562 2.756 4.792 0.172 0.121 0.25 0.336 0.196 0.539-0.117 0.436-0.515 1.633-1.58 2.788 1.302-0.456 2.704-1.247 3.739-1.959 0.123-0.085 0.277-0.11 0.421-0.069 0.948 0.271 1.947 0.409 2.968 0.409 4.687 0 8.5-2.916 8.5-6.5s-3.813-6.5-8.5-6.5z'%3E%3C/path%3E%3C/svg%3E%0A"), no-repeat;
      top: 15%;
      left: -.3em;
      background-size: 1em 1em;
    }
  }

  &__views {
    position: relative;
    color: #999;
    padding-left: 1em;
    margin-left: 3em;

    &:after {
      width: 1em;
      height: 1em;
      font-size: 1em;
      padding: 0 .5em;
      color: #999;
      content: attr(data-count);
      right: 1em;
      position: absolute;
      top: -0.1em;
    }

    &:before {
      content: '';
      position: absolute;
      width: 1em;
      height: 1em;
      background: url(../images/lnr-eye.svg), no-repeat;
      top: 15%;
      left: -1.8em;
      background-size: 1em 1em;
    }
  }
}

/* ANCHOR news ends*/

/*guarantee start*/

.guarantee {
  &__inner {
    display: flex;
    color: #000;
    list-style: none;
    margin: 0;
  }

  &__item {
    font-size: 1.5rem;
    position: relative;
    padding: 8.8em 5.3em 2.5em 2em;

    &--blue {
      color: $theme-color-blue;
    }

    &--purple {
      color: $theme-color-purple;
    }

    &+& {
      margin-left: 3.5em;
    }

    &:before {
      position: absolute;
      content: '';
      left: 42%;
      bottom: 35%;
      transform: translateX(-50%);
      width: 180px;
      height: 145px;
    }

    &--money {
      border-right: 1px solid #e8eaf3;

      &:before {
        background: url(../images/money.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--support:before {
      background: url(../images/person.png);
      background-repeat: no-repeat;
      background-position: top;
      bottom: 30%;
    }
  }
}

/* ANCHOR guarantee ends*/

/* ANCHOR join starts*/

.join {
  color: #FFF;

  .container-fluid--gradient {
    background-color: #000;
    background: linear-gradient(to left, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
  }

  &__inner {
    padding: 6.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #FFF;
    font-size: 2.25rem;
  }

  &__text {
    font-size: 1.125rem;
    margin-bottom: 3em;
  }

  &__btn {
    background-color: #fff;
    color: $theme-color-blue;
    padding: 1em 3.4em;

    &:hover {
      transition: 2s;
      transform: scale(1.2);
      font-size: 1rem;
      background: linear-gradient(to right, rgba(13, 62, 242, 20%) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
      color: #FFF;
      border: 1px solid #FFF;
    }

    &:focus {
      box-shadow: 0 0 0 0.3rem rgba(115, 71, 193, 0.7);
    }
  }
}

/* ANCHOR join ends*/

/* ANCHOR footer starts*/

.footer {
  .container-fluid--onecolor {
    background-color: #262b30;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 7.2em 0 7.6em;
    flex-wrap: wrap;
  }

  &__link {
    color: #ababab;
    font-size: 0.9rem;
  }

  &__content-logo {
    display: block;
    margin-bottom: .3em;
  }

  &__content-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__content-item {
    margin-bottom: .5em;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content-text {
    line-height: 200%;
  }

  &__content-title {
    color: #fff;
    font-size: 1.125rem;
    margin: .8em 0 1.8em;
  }

  &__content-box {
    color: #ababab;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    font-style: normal;

    &--about {
      max-width: 19em;
      width: 100%;

      .footer__link {
        padding-left: 2em;
        position: relative;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          font-family: 'Linearicons-Free';
          font-size: 1rem;
          color: #fff;
          position: absolute;
          left: 0;
        }
      }
    }

    &--list {
      max-width: 9em;
      width: 100%;

      &+& {
        margin-left: 3.5em;
      }
    }

    &--form {
      max-width: 25em;
      width: 100%;
    }
  }

  &__content-text {
    margin-bottom: 1.5em;
  }

  &__content-phone {
    margin-bottom: .6em;

    &:before {
      content: "\e830";
    }
  }

  &__content-mail {
    margin-bottom: 1em;

    &:before {
      content: '\e818';
    }
  }

  &__content-map {
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "\e833";
    }
  }

  &__content-form {
    margin: .8em 0 4em;
  }

  &__content-input {
    padding: .85em 8em 1em 1.7em;
  }

  &__content-btn {
    max-width: 8em;
    font-size: .9rem;
    text-align: center;
    padding: 1em;

    &:before {
      content: '';
    }

    &:hover {
      background-color: $theme-color-purple;
    }
  }

  &__rights {
    text-align: center;
    padding: 2.2em 0;
    background-color: #192027;

    .container-fluid--onecolor {
      background-color: #192027;
    }

    &--accent {
      color: #fff;
    }
  }

  &__rights-link {
    color: #fff;
  }
}

@import "media";