.aside {
  &__box {
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 1.8em 1.5em 0;
    margin-bottom: 1.5em;
  }

  &__filter {
    color: #010101;
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $form-light;
    outline: transparent;
    padding-bottom: 1.5rem;
    position: relative;
    text-align: start;
    // max-width: 10rem;
    width: 100%;

    &:after {
      content: "\e874";
      position: absolute;
      color: $text;
      font-family: 'Linearicons-Free';
      font-size: 1rem;
      right: 0;
      top: calc(50%-1rem);
    }
  }

  &__items {
    list-style: none;
    margin: 0;
    font-size: .9rem;
    padding-left: 1em;
    padding-top: 1.8em;
    padding: 1.8em 0 1.8em 1em;
    display: none;

    &--category {
      .aside__item:before {
        content: "\e876";
        font-family: 'Linearicons-Free';
        font-size: .6rem;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &+& {
      margin-top: 1.25em;
    }
  }

  &__item-button {
    background-color: transparent;
    border: none;
    display: flex;
    width: 100%;
    outline: transparent;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:active,
    &:hover,
    &:focus {
      color: $theme-color-blue;
    }
  }

  &__item-label {
    padding-left: .5em;
  }

  .irs {
    margin: 1.5em 0 5em;

    &-line {
      background-color: #efedf3;
      height: 6px;
      width: 100%;
    }

    &-bar {
      background-color: $theme-color-purple;
      height: 6px;
    }

    &-handle {
      top: 1.1rem;
    }

    &-from,
    &-to,
    &-single {
      text-align: center;
      color: $theme-color-purple;
      font-weight: 500;
      font-size: .9rem;
      padding: .3em 1.3em;
      background-color: rgba(115, 71, 193, .1);
      border-radius: 2rem;
      top: 3rem;

      &-to {
        left: 50%;
      }

      &:before {
        border: none;
      }
    }

    &-max {
      display: none;
    }

    &--flat .irs-handle>i:first-child {
      background-color: #fff;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      border: .25rem solid $theme-color-blue;
    }
  }

  &__updatebtn {
    width: 10.75rem;
    padding: .5rem 0;
    text-align: center;
  }

}